
body {
    background-color: blueviolet;
}

header {
    background-color: white;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
}

button {
    background-color: blueviolet;
    color: white;
}

.item {
    background-color: white;
    padding: 15px;
}

.item-4 {
    grid-column: 1/4;
}

img {
    width: 500px;
    height: 400px;
}

#loan-sum, #repay-loan-button, #features, #laptop-info-section {
    display: none;
}

#laptop-image {
    float: left;
}
